.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border:1px solid gray;
    width: fit-content;
}

.cell {
    border: 1px solid gray;
}

.cell:hover {
    background-color: rgb(238, 238, 238);
}